<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BioSalvus</title>
    <link href="~/BiosalvusIcon.ico" rel="shortcut icon" type="image/x-icon" /> <!--This is for the PRoduct Logo/Icon-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @* This is for the mapbox map. *@
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
    @*This is used for the Geocoding Mapbox API*@
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.2.0/mapbox-gl-geocoder.min.js'>
    </script>
    <link rel='stylesheet'
          href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.2.0/mapbox-gl-geocoder.css'
          type='text/css' />
    <script src="~/Scripts/Chart.js"></script> <!--Chart.js-->
    <script src="~/Scripts/Chart.min.js"></script> <!--Chart.js-->
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:rgba(247,247,247,1);">
        <div class="container">
            <div class="navbar-header">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-2">
                        <a href="@Url.Action("Index", "Home")">
                            <img src="~/Content/Images/BiosalvusLogo.jpeg" alt="Company logo" width="50" height="50" />
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-9 col-xs-8" style="padding-left: 30px;">
                    </div>
                    <div class="col-xs-2">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="float:right;">
                    <li>@Html.ActionLink("Threat: Bushfire", "AvesBushfire", "AvesEndangereds")</li>
                    <li>@Html.ActionLink("Threat: Feral Cats", "AvesThreatenedMap", "AvesEndangereds")</li>
                    <li>@Html.ActionLink("Explore Australia", "SpeciesMap", "SpeciesAustralias")</li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - All Rights Reserved|Biosalvus</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
