@model Biosalvus.Models.SpeciesAllViewModel

@{
    ViewBag.Title = "Endangered Species Australia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .legend {
        background-color: #fff;
        border-radius: 3px;
        bottom: 30px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        padding: 10px;
        right: 10px;
        z-index: 1;
    }

        .legend h4 {
            margin: 0 0 10px;
        }

        .legend div span {
            border-radius: 50%;
            display: inline-block;
            height: 10px;
            margin-right: 5px;
            width: 10px;
        }
</style>
<h2>@ViewBag.Title</h2>
<h3>Filter Selected: <span id="mapfilter"></span></h3>

<div class="row">
    <div class="col-md-10">
        <div id="species-map" style="height:450px;"></div> <!--This is the Map-->
    </div>
    <div class="col-md-2">
        <div id="state-legend" class="legend">
            <h4>Count Ranking</h4>
            <div><span style="background-color: rgba(51, 0, 0,1)"></span><nbsp></nbsp><p id="rank1"></p></div>
            <div><span style="background-color: rgba(165, 42, 42,1)"></span><nbsp></nbsp><p id="rank2"></p></div>
            <div><span style="background-color: rgba(255, 69, 0,1)"></span><nbsp></nbsp><p id="rank3"></p></div>
            <div><span style="background-color: rgba(255, 165, 0,1)"></span><nbsp></nbsp><p id="rank4"></p></div>
            <div><span style="background-color: rgba(184, 181, 35,1)"></span><nbsp></nbsp><p id="rank5"></p></div>
            <div><span style="background-color: rgba(245,225,7,1)"></span><nbsp></nbsp><p id="rank6"></p></div>
            <div><span style="background-color: rgba(169, 169, 169,1)"></span><nbsp></nbsp><p id="rank7"></p></div>
            <div><span style="background-color: rgba(211, 211, 211,1)"></span><nbsp></nbsp><p id="rank8"></p></div>
            <div><span style="background-color: rgba(255, 255, 0, 0.1)"></span>N/A</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <button id="vulnerablebutton" style="width: 100%;height: 70px;color:white;background-color:orangered;">
            Vulnerable
            <span id="vulnerablecnt">1221</span>
            @*@foreach (var item in Model.speciescountbystatus)
            {
                <span id = "vulnerableinitialcnt" class="vulnerablecount">
                    @if (string.Equals(item.Status, "Vulnerable"))
                    {
                        @Html.DisplayFor(modelItem => item.TotalCount)
                    }
                </span>
            }*@
        </button>
    </div>
    <div class="col-md-2">
        <button id="conservationbutton" style="width: 100%;height: 70px;color:white;background-color:orange;">
            Conservation Dependent
            <span id="conservationcnt">28</span>
            @*@foreach (var item in Model.speciescountbystatus)
            {
                <p class="conservationcount">
                    @if (string.Equals(item.Status, "Conservation Dependent"))
                    {
                        @Html.DisplayFor(modelItem => item.TotalCount)
                    }
                </p>
            }*@
        </button>
    </div>
    <div class="col-md-2">
        <button id="endangeredbutton" style="width: 100%;height: 70px;color:white;background-color:brown;">
            Endangered
            <span id="endangeredcnt">932</span>
            @*@foreach (var item in Model.speciescountbystatus)
            {
                <p class="endangeredcount">
                    @if (string.Equals(item.Status, "Endangered"))
                    {
                        @Html.DisplayFor(modelItem => item.TotalCount)
                    }
                </p>
            }*@
        </button>
    </div>
    <div class="col-md-2">
        <button id="critendangeredbutton" style="width: 100%;height: 70px;color:white;background-color:maroon;">
            Critically Endangered
            <span id="critendangeredncnt">315</span>
            @*@foreach (var item in Model.speciescountbystatus)
            {
                <p class="critendangeredcount">
                    @if (string.Equals(item.Status, "Critically Endangered"))
                    {
                        @Html.DisplayFor(modelItem => item.TotalCount)
                    }
                </p>
            }*@
        </button>
    </div>
    <div class="col-md-2">
        <button id="wildextinctbutton" style="width: 100%;height: 70px;color:white;background-color:darkgrey;">
            Extinct in the wild
            <span id="wildextinctcnt">1</span>
            @*@foreach (var item in Model.speciescountbystatus)
            {
                <p class="wildextinctcount">
                    @if (string.Equals(item.Status, "Extinct in the wild"))
                    {
                        @Html.DisplayFor(modelItem => item.TotalCount)
                    }
                </p>
            }*@
        </button>
    </div>
    <div class="col-md-2">
        <button id="extinctbutton" style="width: 100%;height: 70px;color:white;background-color:lightgrey;">
            Extinct
            <span id="extinctcnt">136</span>
            @*@foreach (var item in Model.speciescountbystatus)
            {
                <p class="extinctcount">
                    @if (string.Equals(item.Status, "Extinct"))
                    {
                        @Html.DisplayFor(modelItem => item.TotalCount)
                    }
                </p>
            }*@
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <table class="table" style="display:none">
            @foreach (var item in Model.speciescountbystatus)
            {
                <tr class="countbystatusrow">
                    <td class="status">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td class="totalcount">
                        @Html.DisplayFor(modelItem => item.TotalCount)
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-6">
        <table class="table" style="display:none">
            @foreach (var item in Model.speciescountvulnerable)
            {
                <tr class="vulnerablerows">
                    <td class="statusvulnerable">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td class="statevulnerable">
                        @Html.DisplayFor(modelItem => item.StateCode)
                    </td>
                    <td class="totalcountvulnerable">
                        @Html.DisplayFor(modelItem => item.TotalCount)
                    </td>
                </tr>
            }
            @foreach (var item in Model.speciescountextinctinwild)
            {
                <tr class="extinctinwildrows">
                    <td class="statusextinctinwild">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td class="stateextinctinwild">
                        @Html.DisplayFor(modelItem => item.StateCode)
                    </td>
                    <td class="totalcountextinctinwild">
                        @Html.DisplayFor(modelItem => item.TotalCount)
                    </td>
                </tr>
            }
            @foreach (var item in Model.speciescountendangered)
            {
                <tr class="endangeredrows">
                    <td class="statusendangered">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td class="stateendangered">
                        @Html.DisplayFor(modelItem => item.StateCode)
                    </td>
                    <td class="totalcountendangered">
                        @Html.DisplayFor(modelItem => item.TotalCount)
                    </td>
                </tr>
            }
            @foreach (var item in Model.speciescountcritendangered)
            {
                <tr class="critendangeredrows">
                    <td class="statuscritendangered">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td class="statecritendangered">
                        @Html.DisplayFor(modelItem => item.StateCode)
                    </td>
                    <td class="totalcountcritendangered">
                        @Html.DisplayFor(modelItem => item.TotalCount)
                    </td>
                </tr>
            }
            @foreach (var item in Model.speciescountconservation)
            {
                <tr class="conservationrows">
                    <td class="statusconservation">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td class="stateconservation">
                        @Html.DisplayFor(modelItem => item.StateCode)
                    </td>
                    <td class="totalcountconservation">
                        @Html.DisplayFor(modelItem => item.TotalCount)
                    </td>
                </tr>
            }
            @foreach (var item in Model.speciescountextinct)
            {
                <tr class="extinctrows">
                    <td class="statusextinct">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td class="stateextinct">
                        @Html.DisplayFor(modelItem => item.StateCode)
                    </td>
                    <td class="totalcountextinct">
                        @Html.DisplayFor(modelItem => item.TotalCount)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<table class="table" style="display:none">
    @foreach (var item in Model.speciescountbystatestatus)
    {
        <tr class="countbystatestatusrows">
            <td class="statusbystatestatus">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td class="statebystatestatus">
                @Html.DisplayFor(modelItem => item.StateCode)
            </td>
            <td class="totalcountbystatestatus">
                @Html.DisplayFor(modelItem => item.TotalCount)
            </td>
        </tr>
    }
</table>
@section Scripts {
    @Scripts.Render("~/bundles/speciesmap")
}