@model Biosalvus.Models.EndageredMapViewModel
@{
    ViewBag.Title = "Threat: Feral Cats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .legend {
        background-color: #fff;
        border-radius: 3px;
        bottom: 30px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        padding: 10px;
        right: 10px;
        z-index: 1;
    }

        .legend h4 {
            margin: 0 0 10px;
        }

        .legend div span {
            border-radius: 50%;
            display: inline-block;
            height: 10px;
            margin-right: 5px;
            width: 10px;
        }

    .list {
        cursor: pointer;
    }

    .button {
        border-radius: 4px;
    }

        .button:hover {
            background-color: #4c956c;
            color: white;
        }
</style>
<header class="section background-dark">
    <div class="line">
        <h1 class="text-white margin-top-bottom-40 text-size-60 text-line-height-1">Feral Cats</h1>
        <p class="margin-bottom-0 text-size-16">
            Explore our Dashboard to view the Threatened Birds vs. Feral Cats occurances.<br>
            You can start by selecting either the Threatened Status of the birds.<br>
            Distinct Birds details are selectable from the dropdown.
        </p>
    </div>
</header>
<h2 class="text-size-50 text-center">@ViewBag.Title</h2>
<hr class="break-small background-primary break-center">
<div class="row">
    <div class="col-md-10">
        <div id="map" style="height:450px;"></div> <!--This is the Map-->
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div id="legend" class="legend">
                    <h4>Cat Occurence</h4>
                    <div><span style="background-color: rgba(255,200,0,1)"></span><nbsp></nbsp><p>High: 100%</p></div>
                    <div><span style="background-color: rgba(255,255,183,1)"></span><nbsp></nbsp><p>Moderate: 50%</p></div>
                    <div><span style="background-color: rgba(209,229,240,1)"></span><nbsp></nbsp><p></p>Low: 0%</div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12">
                <button id="vulnerablebtn" style="font-size:large;width:100%;height:50px;color:white;background-color:#2c6e49;">
                    Vulnerable
                </button>
            </div>
            <div class="col-md-12 col-xs-12">
                <button id="endangeredbtn" style="font-size:large;width:100%;height:50px;color:white;background-color:#2c6e49;">
                    Endangered
                </button>
            </div>
            <div class="col-md-12 col-xs-12">
                <button id="critendangeredbtn" style="font-size:large;width:100%;height:50px;color:white;background-color:#2c6e49;">
                    Critically Endangered
                </button>
            </div>
        </div>
    </div>
</div>
<div>
    <div>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                Birds List
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li id="vulnerableheader" class="dropdown-header">Vulnerable</li>
                <li id="brownthornbilllst" class="list">Brown Thornbill</li>
                <li id="endangeredheader" class="dropdown-header">Endangered</li>
                <li id="emulst">Emu</li>
                <li id="critendangeredheader" class="dropdown-header">Critically Endangered.</li>
            </ul>
        </div>
    </div>
</div>

<!--BROWN THORNBILL-->
<div id="brownthornbill">
    @foreach (var item in Model.brownThornbillRankings.Take(1))
    {<h3><strong>@Html.DisplayFor(modelitem => item.speciesname)</strong></h3>}
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="~/Content/Images/Birds/brown-thornbill.png" alt="brown-thornbill" />
            The brown thornbill is a passerine bird usually found in eastern and south-eastern Australia, including Tasmania. It can grow up to 10 centimetres long, and feeds on insects. It is brown, grey and white. The species has five subspecies.
        </div>
        <div class="col-md-6">
            <table class="table">
                <tr><th>Bird Count</th><th>Status</th><th>City</th><th>Fire Rate</th></tr>
                @foreach (var item in Model.brownThornbillRankings.Take(5))
                {
                    <tr class="birddata">
                        <td class="birdcount">@Html.DisplayFor(modelitem => item.birdcount)</td>
                        <td class="birdstatus">@Html.DisplayFor(modelitem => item.status)</td>
                        <td class="birdcity">@Html.DisplayFor(modelitem => item.locality)</td>
                        <td class="threatrate">@Html.DisplayFor(modelitem => item.threatrate)</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<!--EMU-->
<div id="emu" style="display:none;">
    @foreach (var item in Model.emuRankings.Take(1))
    {
        <h3><strong>@Html.DisplayFor(modelitem => item.speciesname)</strong></h3>
    }
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="~/Content/Images/Birds/emu.png" alt="emu" />
            The emu is the second-largest living bird by height, after its ratite relative, the ostrich. It is endemic to Australia where it is the largest native bird and the only extant member of the genus Dromaius. The emu's range covers most of mainland Australia, but the Tasmanian, Kangaroo Island and King Island subspecies became extinct after the European settlement of Australia in 1788. The bird is sufficiently common for it to be rated as a least-concern species by the International Union for Conservation of Nature.
        </div>
        <div class="col-md-6">
            <table class="table">
                <tr><th>Suburb</th></tr>
                @foreach (var item in Model.emuRankings.Take(5))
                {
                    <tr><td>@Html.DisplayFor(modelitem => item.locality)</td></tr>
                }
            </table>
        </div>
    </div>
</div>

@* Cat Record Table *@
<table class="table" style="display:none">
    @foreach (var item in Model.catslist)
    {
        <tr class="catcoordinates">
            <td class="catname">@Html.DisplayFor(modelItem => item.catname)</td>
            <td class="catlatitude">@Html.DisplayFor(modelItem => item.catlatitude)</td>
            <td class="catlongitude">@Html.DisplayFor(modelItem => item.catlongitude)</td>
            <td class="catstate">@Html.DisplayFor(modelItem => item.catstate)</td>
            <td class="catindividualcount">@Html.DisplayFor(modelItem => item.catindividualcount)</td>
        </tr>
    }
</table>

<!--Vulnerable Birds Table Data-->
<table class="table" style="display:none">
    @foreach (var item in Model.vulnerablebirds)
    {
        <tr class="vulnerablebirds">
            <td class="vulnerablename">@Html.DisplayFor(modelItem => item.birdname)</td>
            <td class="vulnerablescientific">@Html.DisplayFor(modelItem => item.scientificname)</td>
            <td class="vulnerablelongitude">@Html.DisplayFor(modelItem => item.birdlongitude)</td>
            <td class="vulnerablelatitude">@Html.DisplayFor(modelItem => item.birdlatitude)</td>
            <td class="vulnerablestate">@Html.DisplayFor(modelItem => item.state)</td>
            <td class="vulnerablestatus">@Html.DisplayFor(modelItem => item.status)</td>
            <td class="vulnerablecatfood">@Html.DisplayFor(modelItem => item.catfood)</td>
        </tr>
    }
</table>
<!--Critically Endangered Birds Table Data-->
<table class="table" style="display:none">
    @foreach (var item in Model.critendangeredbirds)
    {
        <tr class="critendangeredbirds">
            <td class="critendangeredname">@Html.DisplayFor(modelItem => item.birdname)</td>
            <td class="critendangeredscientific">@Html.DisplayFor(modelItem => item.scientificname)</td>
            <td class="critendangeredlongitude">@Html.DisplayFor(modelItem => item.birdlongitude)</td>
            <td class="critendangeredlatitude">@Html.DisplayFor(modelItem => item.birdlatitude)</td>
            <td class="critendangeredstate">@Html.DisplayFor(modelItem => item.state)</td>
            <td class="critendangeredstatus">@Html.DisplayFor(modelItem => item.status)</td>
            <td class="critendangeredcatfood">@Html.DisplayFor(modelItem => item.catfood)</td>
        </tr>
    }
</table>
<!--Endangered Birds Table Data-->
<table class="table" style="display:none">
    @foreach (var item in Model.endangeredbirds)
    {
        <tr class="endangeredbirds">
            <td class="endangeredname">@Html.DisplayFor(modelItem => item.birdname)</td>
            <td class="endangeredscientific">@Html.DisplayFor(modelItem => item.scientificname)</td>
            <td class="endangeredlongitude">@Html.DisplayFor(modelItem => item.birdlongitude)</td>
            <td class="endangeredlatitude">@Html.DisplayFor(modelItem => item.birdlatitude)</td>
            <td class="endangeredstate">@Html.DisplayFor(modelItem => item.state)</td>
            <td class="endangeredstatus">@Html.DisplayFor(modelItem => item.status)</td>
            <td class="endangeredcatfood">@Html.DisplayFor(modelItem => item.catfood)</td>
        </tr>
    }
</table>

@section Scripts {
    @Scripts.Render("~/bundles/mapbox")
}