@model IEnumerable<Biosalvus.Models.AvesEndangered>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.individualCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eventDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eventTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.countryCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stateProvince)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.verbatimLocality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.scientificName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.scientificName1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.acceptedNameUsage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kingdom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phylum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._class)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.family)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.genus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.taxonRank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vernacularName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.species)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.measurementID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatFood)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.individualCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eventDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eventTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.countryCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stateProvince)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.verbatimLocality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.scientificName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.scientificName1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.acceptedNameUsage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kingdom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phylum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._class)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.family)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.genus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.taxonRank)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vernacularName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.species)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.measurementID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatFood)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
